@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
    @apply sm:text-6xl;
    @apply md:text-7xl;
    @apply lg:text-8xl;
    @apply xl:text-9xl;
    @apply font-title;
  }

  h2 {
    @apply text-3xl;
    @apply sm:text-5xl;
    @apply md:text-6xl;
    @apply lg:text-7xl;
    @apply xl:text-8xl;
    @apply font-title;
  }

  h3 {
    @apply text-2xl;
    @apply sm:text-4xl;
    @apply md:text-5xl;
    @apply lg:text-6xl;
    @apply xl:text-7xl;
    @apply font-title;
  }

  h4 {
    @apply text-2xl;
    @apply sm:text-3xl;
    @apply md:text-4xl;
    @apply lg:text-5xl;
    @apply font-heading;
  }

  h5 {
    @apply text-xl;
    @apply sm:text-2xl;
    @apply md:text-3xl;
    @apply lg:text-4xl;
    @apply font-heading;
  }

  h6 {
    @apply font-body;
    @apply text-lg;
    @apply font-bold;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @keyframes cursor-blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
  }

  .cursor {
    @apply relative;
    @apply after:bg-orange-500;
    @apply after:absolute;
    @apply after:-top-0.5;
    @apply sm:after:top-[-0.4375rem];
    @apply md:after:top-[-0.5625rem];
    @apply lg:after:top-[-0.6875rem];
    @apply xl:after:top-[-0.9375rem];
    @apply after:-bottom-0.5;
    @apply sm:after:-bottom-2;
    @apply md:after:-bottom-2.5;
    @apply lg:after:-bottom-3;
    @apply xl:after:-bottom-4;
    @apply after:-right-1;
    @apply sm:after:right-[-0.3125rem];
    @apply md:after:-right-1.5;
    @apply lg:after:right-[-0.4375rem];
    @apply xl:after:-right-2;
    @apply after:w-1;
    @apply sm:after:w-[0.3125rem];
    @apply md:after:w-1.5;
    @apply lg:after:w-[0.4375rem];
    @apply xl:after:w-2;
  }

  .cursor.animate:after {
    animation: 1.5s cursor-blink infinite step-end;
  }

  .draw {
    @apply stroke-yellow-600;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 12px;
  }
}


